	</main>
		<footer></footer>
		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
		<script src="/_assets/js/index.js"></script>
		<script async src="../../_assets/js/gtag.js"></script>
	</body>
</html>