<!doctype html>
<html lang="{{ metadata.language or "en" }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<meta name="description" content="{{ description or metadata.description or "Blessed Beyond Foundation - Blessing others, since we have been Blessed Beyond"}}">
		<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
		{#- Atom and JSON feeds included by default #}
		{#-<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}"> #}
		{#-<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}"> #}
		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}
{#-
		Choices for CSS:

		1. External files (best with local dev server live reload)

		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/message-box.css">
		<link rel="stylesheet" href="/css/prism-okaidia.css">
		<link rel="stylesheet" href="/css/prism-diff.css">

		2. Inlined (fastest site performance in production)
#}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<style>
		  <link href="https://fonts.googleapis.com/css?family=Nunito:900" rel="stylesheet">
  		{% include "../../_assets/css/style.processed.css" %}
		{% include "public/css/index.css" %}
		{% include "public/css/message-box.css" %}
		{% include "node_modules/prismjs/themes/prism-okaidia.css" %}
		{% include "public/css/prism-diff.css" %}
		</style>
{#
		3. You could even swap between the two methods above using {% if eleventy.env.runMode === "serve" %}
		4. Concatenate CSS to one file (site performance is slower than 2 but faster than 1):
				https://www.11ty.dev/docs/quicktips/concatenate/
		5. Use a bundler
				e.g. Vite https://www.11ty.dev/docs/server-vite/
				Or search for additional community plugins for esbuild, rollup, webpack, etc.
#}
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-91383659-1"></script>
	</head>
	<body class="{{ body_class }}">
		<a href="#skip" class="visually-hidden">Skip to main content</a>
		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>
			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
		</header>
		{% if page.url != '/' %}
			{% include "./_breadcrumb.njk" %}
		{% endif %}
