<nav class="site-nav">
  <ul>
    <li class="nav-home"><a href="/">{% include "../../icons/cloud.svg" %}Home</a></li>
    <li class="nav-home"><a href="/saas">{% include "../../icons/cloud.svg" %}SaaS</a></li>
    <li class="nav-tools"><a href="/services">{% include "../../icons/toolbox.svg" %}Services</a></li>
    <li class="nav-build"><a href="/partners">{% include "../../icons/hammer.svg" %}Partners</a></li>
    <li class="nav-resources"><a href="/products">{% include "../../icons/book-code.svg" %}Products</a></li>
  </ul>
</nav>